
body{
    background-color: #f4f4f4;
    font-size: 16px;
}


.login{
    width: 300px;
    margin: 100px auto;
}

.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #E5E5E5;
}

.login .btn{
    background-color: #008dde;
}

.login h4{
    color: #888;
}

/*.navbar{
    border-radius: 0;
    
    font-size: 14px;
    margin: 0;
    height: 40px;
}*/




/*.navbar-expand-lg .navbar-nav  {
  padding: 10px 8px;    
}

.navbar-light .navbar-nav .nav-link {
    color:#bdc3c7;
}

.navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
   .navbar-light .navbar-nav .nav-link.active
    {
    color: #bdc3c7;
    background: #008dde;
    height: 40px;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .active > .nav-link{
    color: #bdc3c7;
}



.navbar-light .navbar-nav .nav-link:hover,
 .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}*/


.nav-link {
    display: inline;
    /* padding: 0.5rem 1rem; */
}

.navbar{
    padding: 0.8rem 3rem;
}
.dropdown-item {
    color: #fff;
    padding-bottom: 10px;
    
    
}

.dropdown-menu{
    background: #008dde;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 13px;
}
a{
  color:  rgba(255, 255, 255, 0.5);
}
a:hover{
   color:#fff;
}


h1, .h1 {
    font-size: 55px;
    margin: 40px 0 ;
    font-weight: bold;
    color: #666;
}

.form-control{
    position: relative;
}

.starisc{
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 4px;
    color: #d42424;
    display: none;
      
}




.sh{
    position: absolute;
    right: 30px;
    top: 16px;
    display: none;
}


    .table tr:first-child td{

        background: #333;
        color:#fff;
        
       
    }
    .table{
        border:0;
        
    }
    .navbar {
        border-radius: 0;
        font-size: 14px;
        /* margin: 0; */
        /* height: 40px; */
    }

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        height: 30px;
        position: relative;
        top: -5px;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        position: relative;
        top: -5px;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

.table{
    background: #fff;
  box-shadow: 0 3px 10px #CCC;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table .btn{
padding: 3px 10px;
margin-left: 10px;


}
    
.home-stats .stat{

 color: #fff;
   padding: 20px;
   font-size: 15px;
   border-radius: 10px;
   padding-bottom: 30px;
   padding-top: 30px;
    
}



.home-stats .stat i{
    font-size: 70px;
    padding: 0;
}


.home-stats .stat .info{
    float: right;
    }

.home-stats .stat .nomricusers{
    display: block;
    font-size: 50px;
    
}

.home-stats  a{
    color: #eee;
    text-decoration: none;

}

.home-stats .Items{
    -webkit-transition-duration:0.8s;
    transition-duration:0.8s; 



}

.home-stats .Items:hover{
   
 
    -webkit-transform:scale(1.2) ;
    transform:scale(1.2) ;
   


}
.home-stats .Members{
    -webkit-transition-duration:0.8s;
    transition-duration:0.8s; 



}

.home-stats .Members:hover{
   
 
    -webkit-transform:scale(1.2) ;
    transform:scale(1.2) ;
   


}
.home-stats .Pending{
    -webkit-transition-duration:0.8s;
    transition-duration:0.8s; 



}

.home-stats .Pending:hover{
   
 
    -webkit-transform:scale(1.2) ;
    transform:scale(1.2) ;
   


}
.home-stats .Comments{
    -webkit-transition-duration:0.8s;
    transition-duration:0.8s; 



}

.home-stats .Comments:hover{
   
 
    -webkit-transform:scale(1.2) ;
    transform:scale(1.2) ;
   


}

.home-stats .Members{

    background-color: #3498db;
    
        
}

.home-stats .Pending{
    background-color: #c0392b;
  
}

.home-stats .Items{
    background-color: #d35400;
   
}

.home-stats .Comments{
    background-color: #9b59b6;

}


.latest{
    margin-top: 40px;
}

.latest-users{
    margin-bottom: 0;
}

.latest .card .card-header .plus {
    float: right;
    font-size: 20px;
    cursor: pointer;
  
   
} 



.activet{
    color: #bdc3c7;
}

.latest-users li:nth-child(even){
   background: #eee;
   
}

.latest-users li{
   padding: 5px 0;
  overflow: hidden;
  
}

.latest-users li .sp{
    margin: 10px;
  vertical-align: middle;
   
 }

.latest-users .btn-success{
   padding: 1px 5px;
   margin-left: 10px;
 
}

.latest-users .btn-info{
    padding: 1px 5px;
   
 }


.latest-users .comment-box{
    margin: 5px 0 10px;
}


.latest-users .comment-box .member-n,
.latest-users .comment-box .member-c{
   float: left;
}

.latest-users .comment-box .member-n{
    width: 80px;
    text-align: center;
margin-right: 20px;
}

.latest-users .comment-box .member-c{
    width: calc(100% - 100px);
    background: #efefef;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.latest-users .comment-box .member-c:before{
    content: "";
    border-style: solid;
    border-color:  transparent #efefef  transparent transparent ;
    border-width: 15px; 
    position: absolute;
    left: -30px;
    top: 15px;

}

 .center h1{
     text-align: center;
 }

 .catagory .card-header{
    color: #959595;
}
 .catagory .card-body{
     padding: 0;
 }

 .catagory .ordering a{
     color: #888;
     text-decoration: none;
     font-size: 14px;
 }


 .catagory .ordering  .Active{
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
}
.ordering span{
    cursor: pointer;
    font-size: 14px;

}

 .catagory .cat{
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.hidden-buttons a{
    margin-right: 5px;
}

.catagory .cat:hover {
    background: #eee;   

}

.catagory .cat:hover .hidden-buttons{
     right: 10px;
 
 }

.catagory .cat .hidden-buttons{
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -160px;
}


.catagory hr{
    margin-top: 0;
    margin-bottom: 0;
}

.catagory .cat h3{
margin: 0 ;
cursor: pointer;
font-weight: bold;
color: #6a6a6a;

 }

 .catagory .cat .full-view p{
margin: 10px 10px;
color: #707070;

 }
 .catagory .cat{
padding-bottom: 20px;
}

.catagory .cat:last-of-type ~ hr{
    display: none;
     }

     .catagory .cat .Visibilty{
         background: #c0392b;
         color: #fff;
         padding: 4px 6px;
         margin-right: 6px;
         border-radius: 5px;
         padding-top: 2px;
     }

     .catagory .cat .comments{
        background: #2c3e50;
        color: #fff;
        padding: 4px 6px;
        margin-right: 6px;
        border-radius: 5px;
        padding-top: 2px;
    }

    .catagory .cat .adds{
        background: #d35400;
        color: #fff;
        padding: 4px 6px;
        margin-right: 6px;
        border-radius: 5px;
        padding-top: 2px;
        
    }

    a.btn.btn-primary.add-catagory {
        margin-bottom: 30px;
        
    }

    .selectboxit-container .selectboxit-options {

        width: 320px;
    
  
        max-height: 240px;
    
      }

      .selectboxit-container span, .selectboxit-container .selectboxit-options a {
        height: 46px;
        line-height: 46px;
        display: block;
    }

    .empt{
        margin-top: 10px;
        padding: 10px;
        background: #fff;
        border-left: #080 solid 5px;
        font-size: 18px;
        font-weight: bold;
        color: #666;
        margin-bottom: 20px;
        
    }


    /*start img photo profile*/

.imgProfile{
   opacity: 0;
}

.imgProfile{
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
}



.conimg{
    width: 200px;
    height: 200px;
    border: 0.3px solid #007bff;
    border-radius: 50%;
    box-shadow: 5px 20px 20px rgba(0,0,0,.10);
    position: relative;
    left: 630px;
    margin-bottom: 70px;
    cursor: pointer;
   
}

    


.conimg .img{
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}


      /*start img photo profile*/


      i.fas.fa-camera{

        position: absolute;
        top: 70px;
        left: 80px;
        font-size: 44px;
        opacity: 0.8;
        cursor: pointer;
    }
.popo{
    width: 200px;
    height: 110px;
    background: #333;
    opacity: 0.6;
    position: absolute;
    top: 90px;
    left: px;
    /* overflow: hidden; */
    border-radius: 0px 0px 100px 100px;
   
}    

